# Python
*.py[cod]
__pycache__/
*.so
*.egg-info/
*.egg

# Environment variables
.env

# Virtual environments
venv/
env/
env.bak/
venv.bak/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# Usually contains build/ and dist/
# Keep this commented if you have a different structure
# .spec

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache
.pytest_cache/

# Coverage reports
htmlcov/
coverage.xml
*.cover

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pylint
pylint.log

# IDEs and editors
.idea/
.vscode/
*.swp

# Logs
*.log

# Temporary files
*~
*.bak
*.tmp
